  <p>Old static entries</p>
  <ul>
    <li><a href="..\public\entries\entry1.html">How to do stuff.</a></li>
    <li><a href="..\public\entries\virtual_machine.html">Virtual machines are useful.</a></li>
  </ul>