<% include head %>
<form action = '/login' method='POST'>
	Usuername: <input tyep="text" name="email">
	<br />
	Password: <input type="pasword" name="password">
	<input type="submit">
	<br />
</form>
<% include footer %>