<% include head %>
<form action = '/login' method='POST'>
	Email: <input tyep="text" name="email">
	<br />
	Password: <input type="password" name="password">
	<input type="submit">
	<br />
</form>
<% include footer %>